body {
  margin: 0;
  padding: 0;
  background-color: #60a5fa;
  font-family: "Poppins", sans-serif;
}
.weather-grid {
  display: grid;
  grid-template-columns: 500px 500px;
  justify-content: center;
}

#cityInput {
  padding: 5px;
  font-size: 18px;
  border: 3px solid #1e1b4b;
}

h1 {
  color: #1e1b4b;
  font-size: 35px;
}

.btn {
  background-color: #1e1b4b;
  color: white;
  border: none;
  padding: 10px;
 }
.bottom-right-image {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 100px;
  height: auto;
}
.bottom-right-image {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 70vh;
  height: auto;
}

#results {
  font-size: 18px;
  color: white;
}
